<div class="header">
  <h1>Kaymie Seven Tattoo Booking</h1>
  <br>
</div>

<div class="body">
  <p>Hello Kaymie,</p>
  <p>My Tattoo idea is: </p>
  <p><%= data.tattooDesc %></p>
  <br>
  <p>Id like the tattoo to be on my <%= data.Placement %></p><br>
  <p>and the size to be <%= data.size %></p>
  <br>
  <p>days i can come in are <%= data.availability %> </p>

  <br><br>
  <p>My Details are:</p>
  <p>Name: <%= data.fullName %></p>
  <p>Email: <%= data.email %></p>
  <p>Phone No: <%= data.phoneNo %></p>

  <br><br>

</div>

<p></p>


<style>

  h1{
    font-family: 'Special Elite', cursive;
  }

  p{
    font-family: 'Oswald', sans-serif;
    padding-top: 25px;
  }

  .header{
    background-color: #F8DAE2;
    width: 80%;
  }

  .body{
    background-color: #CACACA;
    width: 80%;
  }
</style>
