<h1>Kaymie Seven Tattoo Booking</h1>
<br>
<p>Hello Kaymie,</p>
<p>My Tattoo idea is: </p>
<p><%= data.tattooDesc %></p>
<br>
<p>Id like the tattoo to be on my <%= data.Placement %></p><br>
<p>and the size to be <%= data.size %></p>
<br>
<p>days i can come in are <%= data.availability %> </p>

<br><br>
<p>My Details are:</p>
<p>Name: <%= data.fullName %></p>
<p>Email: <%= data.email %></p>
<p>Phone No: <%= data.phoneNo %></p>

<br><br>

<p></p>
